[data-component="anime-card-layout"] {
  width: 100%;
  display: flex;
border: none;
flex-direction: column;
  

.anime-card-contianer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}


}